<div>
    <section id="main" class="container">
        <div class="text-wrapper">
            <h1>Hi, I'm <b>Anastasiia</b>!</h1>
            <br>
            <h1>And I'm looking for my next <b>opportunity</b> to make a <b>change.</b>
                <br>
                <span class="highlight-container">
                    <span class="highlight">
                        The digital way.
                    </span>
                </span>
            </h1>
        </div>

        <div class="image-wrapper">
            <img src="assets/images/DSC00207.jpg" alt="avatar">
        </div>
        <div class="social-block">
            <a class="github-link" href="https://github.com/pineapple-sea" target="_blank">
            </a>
            <a class="linkedIn-link" href="https://www.linkedin.com/in/anastasiia-dydyliuk-467344200/" target="_blank">
            </a>
        </div>
    </section>
    <app-about-me></app-about-me>
    <app-skills></app-skills>
    <app-projects></app-projects>
</div>