<section id="projects" class="container">
    <div class="header">
        <h1>
            <span class="highlight-container">
                <span class="highlight">
                    Projects
                </span>
            </span>
        </h1>
    </div>
    <div class="content-wrapper">
        <div class="project">
            <h2>Aspiratio</h2>
            <p>Social network for timemanagment and motivation</p>
            <a href="https://aspiratio.pp.ua/" target="_blank" class="project-link">Project link</a>
        </div>
    </div>
</section>
