.container {
    max-width: 1580px;
    margin: 0 auto;
    padding: 60px 120px 120px;

    .header {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    
        h1 {
            font-weight: 400;
            font-size: 36px;
            line-height: 1.25em;
            margin: 30px 0;
        }
    
        .highlight-container,
        .highlight {
            position: relative;
        }
    
        .highlight-container {
            display: inline-block;
    
            &:before {
                content: " ";
                display: block;
                height: 90%;
                width: 100%;
                margin-left: -3px;
                margin-right: -3px;
                position: absolute;
                background: #ffd500;
                transform: rotate(2deg);
                top: -1px;
                left: -1px;
                border-radius: 20% 25% 20% 24%;
                padding: 10px 3px 3px 10px;
            }
        }
    }

    .content-wrapper {
        display: flex;
        justify-content: space-between;

        .project {
            width: 540px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {
                font-size: 28px;
                font-weight: 500;
            }

            .description {
                font-size: 24px;
                line-height: 1.7;
            }

            .project-link {
                max-width: 120px;
                text-decoration: none;
                font-size: 22px;
                background-color: #ffd500;
                padding: 15px 30px;
                border-radius: 10px;
            }
        }
    }
}