<section id="about-me" class="container">
    <div class="header">
        <h1>
            <span class="highlight-container">
                <span class="highlight">
                    About me
                </span>
            </span>
        </h1>
    </div>
    <div class="content-wrapper">
        <h1 class="subtitle">Here you will find more information about me, what I do, and my current skills mostly in
            terms of
            programming and technology</h1>
        <h1 class="subtitle">Let's get know me!</h1>
        <p>
            I'm a Frontend Web Developer building the Front-end of Websites and Web Applications that leads to the
            success of the overall product. Check out some of my work in the Projects section.
        </p>
        <p>
            I'm open to Job opportunities where I can contribute, learn and grow. If you have a good opportunity that
            matches my skills and experience then don't hesitate to contact me.
        </p>
    </div>
</section>