/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Lato', sans-serif;
    color: #181818;
    margin: 0;

    a {
        color: #181818;
    }
}

::-webkit-scrollbar {
    width: 5px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: #ffd500;
    border-radius: 10px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
